:root {
  --bg-color: #e4e0ec;
  --inverted-bg-color: #ac0117;
  --primary-color: rgb(0, 0, 0);
  --secondary-color: #260a8d;
  --inverted-primary-color: green;
  --inverted-secondary-color: #f5f5f5;
}